---

import PortfolioCards from "../components/PortfolioCards.astro";
import CallToAction from "../components/CallToAction.astro";
import Icon from "../components/Icon.astro";

interface Props {
	title: string;
  introCopy: string;
  techStack: string[];
  aspectRatio: string;
  projects: object[];
}


const { title, introCopy, techStack, aspectRatio, projects } = Astro.props;

const artWork = title === 'Illustration Projects';
---

<section class={`py-[6rem] ${artWork ? 'alignLeft' : ''}`}>
  <div class="container ">
    <header class={`PortfolioHeader_Wrapper ${artWork ? 'alignRight' : ''}`}>
      <h3 class="PortfolioHeading">{title}</h3>
      <p class="text-body font-sans text-[18px] tracking-[.25px]">{introCopy}</p>
    </header>
    <ul class={`TechStack ${artWork ? 'flex justify-end' : ''}`}>
      <li class="mr-1">{artWork ? 'Tools' : 'Tech Stack'}:&nbsp;</li>
      {
        techStack.map(item => (
          <li>{item}</li>
        ))
      }
    </ul>
    <ul class="lg:mt-[60px] list-none flex flex-row gap-3">
      {
        projects.map((project) => (
          <li class={`w-1/3 ${aspectRatio}`}>
            <PortfolioCards project={project} />
          </li>
        ))
      }
    </ul>
    <div class="cta w-100 lg:w-1/3 mx-auto mt-[50px]">
      <CallToAction href="/work/">
        View All {artWork ? 'Illustrations' : 'Websites'}
        <Icon icon="arrow-right" size="1.2em" />
      </CallToAction>
    </div>
  </div>
</section>

<style>
  section {
    border-bottom: 1px solid #eaeaea;
    background-color: theme('colors.white');
    position: relative;
    z-index: 0;
    &::after {
      content: '';
      display: block;
      width: 30vw;
      height: 100%;
      background-image: url('/assets/diagonal-lines.png');
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }
  .alignLeft {
    &::after {
      left: 0;
      right: unset;
    }
  }
  .PortfolioHeading {
    color: theme('colors.mainPurple');
    font-size: 50px;
    font-family: Larken,serif;
    font-weight: 600;
    margin: 0;
    @media (min-width: 992px) {
      font-size: 80px;
    }
  }
  .PortfolioHeader_Wrapper {
    &::after {
      content: '';
      display: block;
      margin-top: 20px;
      width: 90px;
      height: 3px;
      background-color: theme('colors.accentPurple');
    }
  }
  .alignRight {
    text-align: right;
    &:after {
      margin: 20px 0 0 auto;
    }
  }
  .TechStack {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    letter-spacing: .25px;
    font-family: theme('fontFamily.condensed');
    color: theme('colors.body');
    margin: 20px 0;
    @media (min-width: 992px) {
      margin-top: 20px;
      font-size: 25px;
    }
  }
  .TechStack li:nth-child(n+2) {
    &::after {
      content: '|';
      margin: 0 5px;
    }
  }
  .TechStack li:last-child {
    &::after {
      content: '';
    }
  }
</style>