---
import { type CollectionEntry, getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
import IntroPhoto from '../../assets/cta-bg-img.jpg'
import ContactCTA from "../../components/ContactCTA.astro";
import PortfolioPreview from "../../components/PortfolioPreview.astro";
import Icon from "../../components/Icon.astro";
import IntroSection from "../../components/IntroSection.astro";
import Grid from "../../components/Grid.astro";

interface Props {
  entry: CollectionEntry<"work">;
}

export async function getStaticPaths() {
  return [
    {
      params: { type: "websites" },
      props: { entry: "Websites" },
    },
    {
      params: { type: "illustrations" },
      props: { entry: "Illustrations" },
    },
  ];
}

const { type } = Astro.params;
const { entry } = Astro.props;

const projects = (await getCollection("work"))
  .filter((project) => type && project.data.type.startsWith(type))
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());

let heroText;
if (type === "illustrations") {
  heroText = "When I'm not immersed in web development and design, I collaborate with organizations to create digital illustrations that strategically and creatively support their marketing goals.";
} else if (type === "websites") {
  heroText = "From designing simple and elegant websites in WordPress to building complex and engaging components in React, I dedicate my expertise and focus to bringing designs that inform and convert.";
} else {
  heroText = "Leveraging all of my skills and passions through web design and digital illustration.";
}
---

<BaseLayout
  title={`${entry} | Melissa Arroyo`}
  description="Learn about Melissa Arroyo's most recent projects in web design, development, and digital illustration"
>
  <div class="stack pt-[5rem] lg:pt-[1rem]">
    <main class="stack">
      <div class="mt-3 container">
        <a class="back-link" href="/work/"
          ><Icon icon="arrow-left" /> Back to All Projects</a
        >
      </div>
      <IntroSection
        title={entry.toString()}
        tagline={heroText}
        align="start"
        image={IntroPhoto}
        imageAlt="Picture of an open laptop and a capuccino on top of a white table"
      />
      <div class="bg-[#fff] pb-[100px] lg:py-[100px]">
				<div class="wrapper">
          <Grid variant="offset">
            {
              projects.map((project) => (
                <li>
                  <PortfolioPreview project={project} />
                </li>
              ))
            }
          </Grid>
        </div>
      </div>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .back-link {
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 10px;
    font-family: theme("fontFamily.serif");
    color: theme("colors.mainPurple");
    justify-content: center;
    margin-bottom: 20px;
    @media (min-width: 992px) {
      justify-content: flex-start;
    }
  }

	.heroImg {
		aspect-ratio: 16/9;
    object-fit: cover;
    @media (min-width: 992px) {
      aspect-ratio: 1/1;
    }
	}

</style>
